 
 

<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" [routerLink]="['/']">Root</a>
  <ul class="nav navbar-nav">
    <li class="nav-item  ">
      <a class="nav-link"  [routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/about']">About</a>
    </li>
  </ul>
</nav> 

<div class="container">

<div class="row">
<a href="#">Inbox <span class="badge">42</span></a>

    

    <!-- Router Outlet -->
    <router-outlet></router-outlet>

</div>

</div>
 
 
         
          
